{{ define "main" }}
    <h1>Blog Posts</h1>
    <ul>
        {{ range .Pages }}
        <li>
            <a href="{{ .RelPermalink }}">
                {{ $postTitle := .Title }}
                {{ with .Resources.GetMatch .Params.image }}
                <img src="{{ .RelPermalink }}" alt='Preview thumbnail for artwork "{{ $postTitle }}"'>
                {{ else }}
                <p>No image found</p>  <!-- Fallback text -->
                {{ end }}
                <h2>{{ .Title }}</h2>
            </a>
        </li>
        {{ end }}
    </ul>
{{ end }}
