{{ define "main" }}
{{ with .Params.compressed }}
<div>
  <img src="{{ . | relURL }}" alt="{{ $.Params.alt }}" class="artwork">
</div>
{{ else }}
<p><i>No image found</i></p>
<!-- Fallback text -->
{{ end }}
{{ with .Params.full }}
<a href="{{ . | relURL }}" target="_blank" rel="noopener noreferrer"><strong>View full (.jpg)</strong></a>
{{ else }}
<p><i>No image found</i></p>
<!-- Fallback text -->
{{ end }}
{{ .Content }}
<!-- Structured data for Google rich search results -->
<script type="application/ld+json">
{{ dict
  "@context" "https://schema.org"
  "@type" "ImageObject"
  "contentUrl" (.Params.full | absURL)
  "name" .Title
  "description" .Params.alt
  "datePublished" .Date
  "creator" "sqvrltastic"
  | jsonify | safeJS
}}
</script>
{{ end }}