{{ define "main" }}
<!-- I really dont need <del> tags here so I replace them with <s> -->
{{ printf "%s" .Content | replaceRE `<del>(.*?)</del>` `<s>$1</s>` | safeHTML }}
<!-- Structured data for Google rich search results -->
<script type="application/ld+json">
{{ dict
  "@context" "https://schema.org"
  "@type" "BlogPosting"
  "contentUrl" .Permalink
  "name" .Title
  "headline" .Title
  "description" .Params.description
  "datePublished" .Date
  "author" (slice (dict
    "@type" "Person"
    "name" "sqvrltastic"
    "url" "https://sqvrltastic.art/about-me/"
  ))
  | jsonify | safeJS
}}
</script>
{{ end }}