{{ define "main" }}
<h1>{{ .Title }}</h1>
<p>Place where I write about whatever I feel like at the moment.</p>
<hr />
<h2>Ramblings</h2>
<p><i>Mostly just rants and word vomit.</i></p>
<ul>
  {{ range where .Pages.ByDate.Reverse "Params.categories" "intersect" (slice
  "Ramblings") }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{ end }}
</ul>
<hr />
<h2>Guides</h2>
<p><i>Actually useful content!</i></p>
<ul>
  {{ range where .Pages.ByDate.Reverse "Params.categories" "intersect" (slice
  "Guides") }}
  <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
  {{ end }}
</ul>
{{ end }}
