{{ define "main" }}

<p><i>{{ .Description }}</i></p>
<ul>
  {{ range .Pages.ByDate.Reverse }}
  <li class="list-page-item">
    <time datetime='{{ .Date | time.Format "2006-02-01" }}'>
      {{ .Date | time.Format "01/02/2006" }}
    </time>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>
<hr>
<p>
  <i>
    P. S. I low-key hate the term "blog" because it makes me thing of trash SEO slop articles and Millenial
    pseudo-intellectual thinkpieces, but I don't know how else to name this section, unfortunately.
  </i>
</p>
{{ end }}