{{ define "main" }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "VisualArtwork",
    "name": "{{ .Title }}",
    "isFamilyFriendly": true,
    "artMedium": "digital",
    "creator": {
      "@type": "Person",
      "name": "Sqvrltastic"
    }
  }
</script>
<h1>{{ .Title }}</h1>
{{ with .Params.compressed }}
<div class="artwork">
  <img src="{{ . | relURL }}" alt="{{ $.Params.description }}">
</div>
{{ else }}
<p><i>No image found</i></p>
<!-- Fallback text -->
{{ end }}

{{ with .Params.full }}
<a href="{{ . | relURL }}" target="_blank" rel="noopener noreferrer">Download full (.jpg)</a>
{{ else }}
<p><i>No image found</i></p>
<!-- Fallback text -->
{{ end }}

{{ .Content }}
{{ end }}