<!DOCTYPE html>
<html lang="en" dir="ltr">
{{ partial "boiler.html" . }}

<body>
  <a href="#main" id="skip-link">Skip to main content</a>
  <noscript class="noscript">
    <p>
      <strong>Warning:</strong> JavaScript is disabled in your browser. The core functionality of this site works
      without JavaScript, but it is required for some QoL features to work, as well as for displaying custom,
      self-hosted fonts.
    </p>
  </noscript>
  <div id="flex-container">
    <div id="mobile-topbar">
      <button id="mobile-theme-toggle" aria-label="toggle theme">
        <img id="mobile-theme-icon" class="icon" src='{{ relURL "assets/images/icons/sun.png" }}'
          alt="light theme is ON">
      </button>
      <p id="mobile-theme-no-js">
        Theme-toggle:<br>
        [JS required]
      </p>
      <a id="mobile-logo" href='{{ relURL "" }}'>Sqvrltastic's Homepage</a>
      <details id="mobile-menu">
        <summary>Menu</summary>
        {{ partial "navigation.html" . }}
      </details>
    </div>
    <div id="left-column">
      <a id="logo" href='{{ relURL "" }}'>Sqvrltastic's<br>Homepage</a>
      {{ partial "navigation.html" . }}
    </div>
    <div id="center-column">
      <main id="main">
        {{ partial "header.html" . }}
        {{ block "main" . }}
        {{ end }}
      </main>
    </div>
    {{ partial "right-column.html" . }}
  </div>
  <a href="#main" id="scroll-to-top">
    <img src='{{ relURL "assets/images/icons/arrow-up.png" }}' alt="scroll to top" class="icon">
  </a>
  {{ $jsthemebody := resources.Get "assets/js/theme-body.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $jsthemebody.RelPermalink }}"></script>
  {{ $jsscroll := resources.Get "assets/js/scroll-to-top.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $jsscroll.RelPermalink }}"></script>
</body>

</html>