<!DOCTYPE html>
<html lang="en">
{{ partial "boiler.html" . }}

<body>
  <a href="#main" id="skip-link">Skip to main content</a>
  <noscript class="noscript">
    <p>
      <strong>Warning:</strong> JavaScript is disabled in your browser. The core functionality of this site works
      without JavaScript, but it is required for some QoL features to work, as well as for displaying custom,
      self-hosted fonts.
    </p>
    <style>
      #theme-toggle {
        display: none;
      }

      #theme-no-js {
        display: inline;
      }

      #scroll-to-top {
        opacity: 1;
        content-visibility: visible;
        pointer-events: auto;
      }
    </style>
  </noscript>
  <div id="flex-container">
    {{ partial "left-column.html" . }}
    <div id="center-column">
      <main id="main">
        {{ partial "header.html" . }}
        {{ block "main" . }}
        {{ end }}
      </main>
    </div>
    {{ partial "right-column.html" . }}
  </div>
  {{ partial "mobile-menu.html" . }}
  <a href="#main" id="scroll-to-top">
    <img class="icon" src='{{ relURL "assets/images/icons/arrow-up.png" }}' alt="scroll to top" class="icon">
  </a>
  {{ $jsthemebody := resources.Get "assets/js/theme-body.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $jsthemebody.RelPermalink }}"></script>
  {{ $jsscroll := resources.Get "assets/js/scroll-to-top.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $jsscroll.RelPermalink }}"></script>
</body>

</html>