/* CSS Document */

@charset "UTF-8";

/* Custom fonts */

.edu-tas-beginner-<uniquifier > {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Skip to main link */

.skip {
  position: absolute;
  inset-inline-start: -10000px;
  inset-block-start: auto;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  inline-size: auto;
  block-size: auto;
}

/* General styling */

body {
  font-family: Calibri, sans-serif;
}

header,
main,
footer {
  max-inline-size: 40rem;
  margin: 0 auto;
}

header {
  margin-block-end: 2rem;
}

header > p {
  font-size: 2.2rem;
  font-family: "Edu TAS Beginner", cursive;
  text-align: center;
  margin-block-end: 1.5rem;
}

nav {
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

nav > span > img {
  block-size: 0.7rem;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  line-height: 0.3rem;
  margin-block-start: 2rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.1rem;
}

h3,
h4 {
  font-size: 1rem;
  font-weight: normal;
}

a {
  color: black;
}

a:hover {
  color: gray;
}

a:active {
  color: gainsboro;
}

hr {
  border: none;
  border-block-start: 0.1rem dotted gray;
  margin: 1.3rem 0;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

code {
  font-family: Consolas, monospace;
  font-size: 0.85rem;
  background-color: lightgray;
  display: inline-block;
  max-inline-size: fit-content;
  padding: 0.04rem 0.1rem;
  border-radius: 0.4rem;
}

details {
  margin: 1rem 0;
  border: 0.2rem solid lightgray;
}

details > *:not(summary) {
  margin: 1rem 1.25rem;
}

summary {
  padding: 0.5rem;
}

summary > h3 {
  display: inline;
}

summary:hover {
  cursor: pointer;
  background-color: lightgray;
}

figure {
  padding: 1.25rem;
  margin: 1rem auto;
  border: 0.1rem solid black;
}

article {
  padding: 0.25rem 1.25rem;
  margin: 1rem auto;
  border: 0.1rem solid black;
}

article > img {
  display: block;
  max-inline-size: 10rem;
  aspect-ratio: 1 / 1;
  border: 0.07rem solid black;
}

/* Ocasionally used text styles */

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-colored {
  color: #000f94;
}

.text-breakall {
  word-break: break-all;
}

.spoiler {
  background-color: #1a2033;
  color: #1a2033;
}

.spoiler:hover {
  background-color: transparent;
  color: #1a2033;
}

.h1 {
  font-size: 2rem;
  font-weight: bold;
}

.h2 {
  font-size: 1.7rem;
  font-weight: bold;
}

.h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

.h4 {
  font-size: 1rem;
  font-weight: bold;
}

/* Icon */

.icon {
  aspect-ratio: 1 / 1;
  block-size: 0.8rem;
}

/* Gallery */

.gallery,
.featured {
  display: grid;
  gap: 0.5rem;
}

.gallery {
  grid-template-columns: repeat(4, 1fr);
}

.featured {
  grid-template-columns: repeat(3, 1fr);
}

.preview {
  display: block;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border: 0.1rem solid lightgray;
}

.preview > img {
  inline-size: 100%;
}

.preview:hover {
  border: 0.1rem solid gray;
}

.preview:active {
  border: 0.1rem solid whitesmoke;
}

.artwork {
  display: block;
  max-inline-size: 100%;
  max-block-size: 30rem;
  margin: 0 auto;
  border: 0.07rem solid black;
}

/* Responsive images */

.responsive-img {
  max-inline-size: 100%;
}

/* CSS for landing page */

.landing {
  font-size: 0.9rem;
  text-align: center;
  inline-size: 15rem;
  block-size: fit-content;
  position: absolute;
  inset: 0;
  margin: auto;
  padding: 2rem;
  border: solid 0.1rem #1a2033;
}

.landing > pre {
  margin: 0 auto;
}

.landing > img {
  mix-blend-mode: multiply;
  display: block;
  inline-size: 85%;
  aspect-ratio: 16 / 9;
  margin: 1.4rem auto 1.2rem;
}

.landing > p {
  max-inline-size: 13rem;
  margin: 0 auto;
}

.landing > a {
  font-size: 1.5rem;
  display: block;
  margin: 1rem auto 0;
}

/* CSS for 404 page */

.fourofour {
  text-align: center;
  inline-size: fit-content;
  block-size: fit-content;
  position: absolute;
  inset: 0;
  margin: auto;
}

.fourofour > h1 {
  font-size: 4rem;
  margin-block-end: 1rem;
}

.fourofour > p {
  font-size: 1rem;
}

/* CSS for smaller screens */

@media (max-width: 660px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  header > pre {
    font-size: 0.6rem;
    margin-block-end: 0.9rem;
  }

  nav,
  footer {
    font-size: 0.9rem;
  }

  footer {
    gap: 0.5rem;
    margin-block-start: 1rem;
  }

  main,
  h2,
  h3,
  h4 {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.2rem;
    max-inline-size: 17rem;
    margin: 1.2rem auto;
  }

  code {
    font-size: 0.8rem;
  }

  hr {
    margin: 0.7rem 0;
  }

  .rss-btn {
    font-size: 1rem;
    gap: 0.4rem;
    padding: 0.4rem;
  }

  .btn-code {
    font-size: 0.9rem;
  }

  details > *:not(summary) {
    margin: 1rem 0.5rem;
  }

  .gallery,
  .featured {
    gap: 0.3rem;
  }

  figure {
    padding: 1rem;
  }
}
