/* CSS Document */

@charset "UTF-8";

/* Custom fonts */

.edu-tas-beginner-<uniquifier > {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Skip to main link */

.skip {
  position: absolute;
  inset-inline-start: -10000px;
  inset-block-start: auto;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  inline-size: auto;
  block-size: auto;
}

/* General styling */

body {
  font-family: Calibri, sans-serif;
}

header,
main,
footer {
  max-inline-size: 38rem;
  margin: 0 auto;
}

.divider {
  inline-size: 38rem;
  block-size: 0.15rem;
  margin: 1.5rem auto;
  border-block-start: solid 0.07rem black;
  border-block-end: solid 0.07rem black;
}

header > p {
  font-size: 2.2rem;
  font-family: "Edu TAS Beginner", cursive;
  text-align: center;
  margin-block-end: 1.5rem;
}

nav {
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

nav > span > img {
  block-size: 0.7rem;
}

main p {
  font-size: 1.1rem;
}

footer {
  font-size: 0.9rem;
  text-align: center;
  line-height: 0.4rem;
  margin: 2rem auto;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.1rem;
}

h3,
h4 {
  font-size: 1rem;
  font-weight: normal;
}

a {
  color: black;
  transition: color 0.3s;
}

a:hover {
  color: gray;
}

a:active {
  color: gainsboro;
  transition: none;
}

hr {
  border: none;
  border-block-start: 0.1rem dotted gray;
  margin: 1.3rem auto;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

code {
  font-family: Consolas, monospace;
  font-size: 0.85rem;
  background-color: #e3e3e3;
  display: inline-block;
  max-inline-size: fit-content;
  padding: 0.04rem 0.1rem;
  border-radius: 0.4rem;
}

details {
  margin: 1rem 0;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
}

details > *:not(summary) {
  margin: 1rem 1.25rem;
}

summary {
  padding: 0.5rem;
  transition: background-color 0.3s;
}

summary > h3 {
  display: inline;
}

summary:hover {
  cursor: pointer;
  background-color: #e3e3e3;
}

figure {
  padding: 1.25rem;
  margin: 1rem auto;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
}

figure > img {
  border: 0.07rem solid black;
}

article {
  padding: 1.25rem;
  margin: 1rem auto;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
}

article > div {
  display: flex;
  justify-content: space-between;
  margin-block-end: 0.7rem;
}

article > div > h2 {
  margin: 0;
}

article p {
  margin: 0;
}

article > img {
  display: block;
  max-inline-size: 10rem;
  aspect-ratio: 1 / 1;
  border: 0.07rem solid black;
  margin-block-end: 0.7rem;
}

/* Gallery */

.gallery,
.featured {
  display: grid;
  gap: 0.5rem;
}

.gallery {
  grid-template-columns: repeat(4, 1fr);
}

.featured {
  grid-template-columns: repeat(3, 1fr);
}

.preview {
  display: block;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border: 0.07rem solid black;
  transition: filter 0.3s;
}

.preview > img {
  inline-size: 100%;
}

.preview:hover {
  border: 0.07rem solid black;
  filter: brightness(1.15);
}

.preview:active {
  border: 0.07rem solid whitesmoke;
}

.artwork {
  border: 0.07rem solid black;
}

.artwork > img {
  display: block;
  max-inline-size: 100%;
  max-block-size: 30rem;
  margin: 0 auto;
  border-inline-start: 0.07rem solid black;
  border-inline-end: 0.07rem solid black;
}

/* Responsive images */

.responsive-img {
  max-inline-size: 100%;
}

/* CSS for 404 page */

.fourofour {
  text-align: center;
  inline-size: fit-content;
  block-size: fit-content;
  position: absolute;
  inset: 0;
  margin: auto;
}

.fourofour > h1 {
  font-size: 4rem;
  margin: 0 auto;
}

.fourofour > p {
  font-size: 1rem;
  margin: 0 auto 1rem;
}

/* Ocasionally used text styles */

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-colored {
  color: #000f94;
}

.text-breakall {
  word-break: break-all;
}

.spoiler {
  background-color: black;
  color: black;
  transition: background-color 0.3s;
}

.spoiler:hover {
  background-color: transparent;
  color: black;
}

.h1 {
  font-size: 2rem;
  font-weight: bold;
}

.h2 {
  font-size: 1.7rem;
  font-weight: bold;
}

.h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

.h4 {
  font-size: 1rem;
  font-weight: bold;
}

/* CSS for smaller screens */

@media (max-width: 660px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  nav {
    flex-wrap: wrap;
    gap: 1rem 2rem;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  details > *:not(summary) {
    margin: 0.8rem;
  }

  .gallery,
  .featured {
    gap: 0.3rem;
  }
}
