<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ .Description }}" />
  <meta author="sqvrltastic" />
  <title>{{ .Title }} | Sqvrltastic Art Archive</title>
  <link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}" /> {{
  $css := resources.Get "styles.css" | resources.Minify | resources.Fingerprint
  }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
  <link rel="alternate" type="application/rss+xml" title="RSS feed for
  Sqvrltastic Art Archive" href="{{ "rss.xml" | absURL }}" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap"
    rel="stylesheet"
  />
</head>
