<header>
  <a href="#main" class="skip">Skip to main content</a>
  <noscript>
    <p class="text-center"><i>No JavaScript? Based. It's only required for theme switcher and embedded fonts.</i></p>
  </noscript>
  <p class="logo"><strong>Sqvrltastic Art Archive</strong></p>
  <nav>
    <a href='{{ relURL "" }}'>Home</a>
    <a href='{{ relURL "updates.html" }}'>Updates</a>
    <a href='{{ relURL "gallery" }}'>Gallery</a>
    <a href='{{ relURL "blog" }}'>Blog</a>
    <a href='{{ relURL "links" }}'>Links</a>
    <a href='{{ relURL "about.html" }}'>About</a>
    <a href='{{ relURL "buttons.html" }}'>Buttons</a>
    <a href='{{ relURL "rss.xml" }}' target="_blank">RSS</a>
    <button id="theme-toggle" aria-label="toggle theme">
      <img id="theme-icon" src='{{ relURL "assets/images/icons/sun.png" }}' alt="Light theme ON">
    </button>
  </nav>
</header>
<div class="divider"></div>