<header>
  <a href="#main" class="skip">Skip to main content</a>

  <p class="logo"><strong>Sqvrltastic Art Archive</strong></p>
  <nav>
    <a href="{{ relURL "" }}">Home</a>
    <a href="{{ relURL "updates.html" }}">Updates</a>
    <a href="{{ relURL "gallery" }}">Gallery</a>
    <a href="{{ relURL "blog" }}">Blog</a>
    <a href="{{ relURL "links" }}">Links</a>
    <a href="{{ relURL "about.html" }}">About</a>
    <a href="{{ relURL "buttons.html" }}">Buttons</a>
    <span><a href="{{ relURL "./rss.xml" }}" target="_blank">RSS</a> <img 
    src="{{ "images/icons/icon-rss.png" | relURL }}" 
    alt="RSS feed icon" 
  /></span>
  </nav>

</header>