<header>
  <pre aria-label='ASCII art "sqvrltastic" logo' role="img">
                           ____             __  _     
    _________ __   _______/ / /_____ ______/ /_(_)____
   / ___/ __ `/ | / / ___/ / __/ __ `/ ___/ __/ / ___/
  (__  ) /_/ /| |/ / /  / / /_/ /_/ (__  ) /_/ / /__  
 /____/\__, / |___/_/  /_/\__/\__,_/____/\__/_/\___/  
          /_/                                           </pre
  >
  <nav>
    <p>|
      <a href="{{ relURL "home.html" }}">Home</a> | 
      <a href="{{ relURL "gallery" }}">Gallery</a> |
      <a href="{{ relURL "blog" }}">Blog</a> |
      <a href="{{ relURL "about.html" }}">About</a> |
    </p>
    <p>|
      <a href="{{ relURL "contact.html" }}">Contact</a> |
      <a href="{{ relURL "links" }}">Links</a> |
      <a href="{{ relURL "buttons.html" }}">Buttons</a> |
      <a href="{{ relURL "updates.html" }}">Updates</a> |
    </p>
  </nav>
</header>
