<div id="left-column">

    <a id="logo" href='{{ relURL "" }}'>Sqvrltastic's<br>Homepage</a>

    <nav>
        <a href='{{ relURL "" }}'>Home</a>
        <div>
            <strong>My work</strong>
            <details>
                <summary>Gallery</summary>
                <a href='{{ relURL "fanart" }}'>Fanart</a>
                <a href='{{ relURL "originals" }}'>Originals</a>
            </details>
            <a href='{{ relURL "guides" }}'>Guides</a>
            <a href='{{ relURL "blog" }}'>Blog</a>
        </div>
        <div>
            <strong>Personal</strong>
            <a href='{{ relURL "about-me" }}'>About me</a>
            <a href='{{ relURL "my-tools" }}'>My tools</a>
            <a href='{{ relURL "favorite-media" }}'>Favorite media</a>
            <a href='{{ relURL "favorite-pairings" }}'>Favorite pairings</a>
        </div>
        <div>
            <strong>Website</strong>
            <a href='{{ relURL "guestbook" }}'>Guestbook</a>
            <a href='{{ relURL "buttons-and-banners" }}'>Buttons and banners</a>
            <a href='{{ relURL "about-this-website" }}'>About this website</a>
            <a href='{{ relURL "old-designs-archive" }}'>Old designs archive</a>
        </div>
        <div>
            <strong>Outbound links</strong>
            <a href='{{ relURL "resources" }}'>Resources</a>
            <a href='{{ relURL "other-indie-websites" }}'>Other indie websites</a>
        </div>
        <div>
            <strong>Other</strong>
            <a href='{{ relURL "art-usage-rights" }}'>Art usage rights</a>
            <a href='{{ relURL "credits" }}'>Credits</a>
        </div>
    </nav>



</div>