<div class="sidebar">
    <figure class="latest-artwork">
        <a href="#">
            <img src='{{ relURL "./assets/images/preview/vermintide-kerillian-drinking-leaf-lovers.avif" }}' alt="test">
        </a>
        <figcaption><strong>Latest artwork</strong><br> Published:<br> 09/12/2025</figcaption>
    </figure>
    <nav>
        <strong><a href='{{ relURL "" }}'>Home</a></strong>
        <div>
            <strong>Website</strong>
            <a href='{{ relURL "updates.html" }}'>Updates</a>
            <a href='{{ relURL "guestbook.html" }}'>Guestbook</a>
            <a href='{{ relURL "rss.xml" }}' target="_blank">RSS feed</a>
        </div>
        <div>
            <strong>My work</strong>
            <a href='{{ relURL "gallery" }}'>Gallery</a>
            <a href="">Guides</a>
            <a href='{{ relURL "blog" }}'>Blog</a>
        </div>
        <div>
            <strong>Personal</strong>
            <a href="">About me</a>
            <a href="">My tools</a>
            <a href="">Favorite media</a>
        </div>
        <div>
            <strong>Outbound links</strong>
            <a href="">Resources lists</a>
            <a href="">Other indie websites</a>
        </div>
        <div>
            <strong>Other</strong>
            <a href="">About this website</a>
            <a href="">Buttons and banners</a>
            <a href="">Art usage rights</a>
        </div>
    </nav>
    <ul class="social-media">
        <li>
            <a href="https://www.reddit.com/user/sqvrltastic/" target="_blank" rel="noopener noreferrer">
                <img src='{{ relURL "assets/images/icons/reddit-logo.png" }}' alt="Reddit">
            </a>
        </li>
        <li>
            <a href="https://github.com/sqvrltastic" target="_blank" rel="noopener noreferrer">
                <img src='{{ relURL "assets/images/icons/github-logo.png" }}' alt="Github">
            </a>
        </li>
        <li>
            <a href="mailto:sqvrltastic@gmail.com">
                <img src='{{ relURL "assets/images/icons/email.png" }}' alt="Email">
            </a>
        </li>
    </ul>
</div>