{{ define "main"}}

<h2>Vermintide</h2>
<details>
    <summary>Disclaimer ⚠️</summary>
    <p>
        The fan art displayed here is inspired by
        <strong>Warhammer: End Times — Vermintide</strong>, a product owned by <strong>Fatshark</strong> and
        <strong>Games
            Workshop</strong>. All intellectual property
        rights are the
        property of Games Workshop and Fatshark. This
        website is not affiliated with, endorsed by, or supported by Games Workshop or Fatshark. This fan art is
        non-commercial, and no money is being made from its display on this website.
    </p>
</details>
<p>Elgiposting! 🏹</p>
<h3>2025 year</h3>
<div class="gallery">
    {{ range where (where .Pages.ByDate.Reverse "Params.categories" "intersect"
    (slice "Vermintide")) "Date.Year" 2025 }}
    <a href="{{ .RelPermalink }}">
        {{ $postTitle := .Title }} {{ with .Params.preview }}
        <img src="{{ . | relURL }}" alt="{{ $postTitle }}" loading="lazy" class="preview">
        {{ else }}
        <p>No image found</p>
        <!-- Fallback text -->
        {{ end }}
    </a>
    {{ else }}
    <p>No posts found</p>
    <!-- Fallback text -->
    {{ end }}
</div>
<h3>2021 year</h3>
<div class="gallery">
    {{ range where (where .Pages.ByDate.Reverse "Params.categories" "intersect"
    (slice "Vermintide")) "Date.Year" 2021 }}
    <a href="{{ .RelPermalink }}">
        {{ $postTitle := .Title }} {{ with .Params.preview }}
        <img src="{{ . | relURL }}" alt="{{ $postTitle }}" loading="lazy" class="preview">
        {{ else }}
        <p>No image found</p>
        <!-- Fallback text -->
        {{ end }}
    </a>
    {{ else }}
    <p>No posts found</p>
    <!-- Fallback text -->
    {{ end }}
</div>

<h2>Deep Rock Galactic</h2>
<h3>2025 year</h3>
<div class="gallery">
    {{ range where (where .Pages.ByDate.Reverse "Params.categories" "intersect"
    (slice "Deep Rock Galactic")) "Date.Year" 2025 }}
    <a href="{{ .RelPermalink }}">
        {{ $postTitle := .Title }} {{ with .Params.preview }}
        <img src="{{ . | relURL }}" alt="{{ $postTitle }}" loading="lazy" class="preview">
        {{ else }}
        <p>No image found</p>
        <!-- Fallback text -->
        {{ end }}
    </a>
    {{ else }}
    <p>No posts found</p>
    <!-- Fallback text -->
    {{ end }}
</div>

<h2>Legend of the Galactic Heroes</h2>
<h3>2025 year</h3>
<div class="gallery">
    {{ range where (where .Pages.ByDate.Reverse "Params.categories" "intersect"
    (slice "Lotgh")) "Date.Year" 2025 }}
    <a href="{{ .RelPermalink }}">
        {{ $postTitle := .Title }} {{ with .Params.preview }}
        <img src="{{ . | relURL }}" alt="{{ $postTitle }}" loading="lazy" class="preview">
        {{ else }}
        <p>No image found</p>
        <!-- Fallback text -->
        {{ end }}
    </a>
    {{ else }}
    <p>No posts found</p>
    <!-- Fallback text -->
    {{ end }}
</div>
<h3>2024 year</h3>
<div class="gallery">
    {{ range where (where .Pages.ByDate.Reverse "Params.categories" "intersect"
    (slice "Lotgh")) "Date.Year" 2024 }}
    <a href="{{ .RelPermalink }}">
        {{ $postTitle := .Title }} {{ with .Params.preview }}
        <img src="{{ . | relURL }}" alt="{{ $postTitle }}" loading="lazy" class="preview">
        {{ else }}
        <p>No image found</p>
        <!-- Fallback text -->
        {{ end }}
    </a>
    {{ else }}
    <p>No posts found</p>
    <!-- Fallback text -->
    {{ end }}
</div>

<h2>Dark Souls</h2>
<h3>2021 year</h3>
<div class="gallery">
    {{ range where (where .Pages.ByDate.Reverse "Params.categories" "intersect"
    (slice "Dark Souls")) "Date.Year" 2021 }}
    <a href="{{ .RelPermalink }}">
        {{ $postTitle := .Title }} {{ with .Params.preview }}
        <img src="{{ . | relURL }}" alt="{{ $postTitle }}" loading="lazy" class="preview">
        {{ else }}
        <p>No image found</p>
        <!-- Fallback text -->
        {{ end }}
    </a>
    {{ else }}
    <p>No posts found</p>
    <!-- Fallback text -->
    {{ end }}
</div>

{{ end }}