{{ define "main" }}
<h2>Welcome</h2>
<figure class="figure-annotation">
    <div id="featured-artworks">
        <a href="/fanart/lotgh-christmas-dusty-attenborough/"><img
                src="/assets/images/art/featured/lotgh-christmas-dusty-attenborough.avif"
                alt="Christmas Dusty Attenborough">
        </a>
        <a href="/fanart/vermintide-kerillian-drinking-leaf-lovers/"><img
                src="/assets/images/art/featured/vermintide-kerillian-drinking-leaf-lovers.avif"
                alt="Kerillian drinking Leaf Lover's Special beer">
        </a>
        <a href="/originals/montenegro-chan-boba-tea-challenge-2025/"><img
                src="/assets/images/art/featured/montenegro-chan-boba-tea-challenge-2025.avif"
                alt="Montenegro-chan boba tea challenge (2025 redraw version)">
        </a>
        <a href="/fanart/drg-female-roughneck-driller-concept/"><img
                src="/assets/images/art/featured/drg-female-roughneck-driller.avif"
                alt="Deep Rock Galactic female roughneck driller dwarf concept">
        </a>
        <a href="/originals/fantasy-assassin/"><img src="/assets/images/art/featured/fantasy-assassin.avif"
                alt="Fantasy Assassin (Commission)">
        </a>
    </div>
    <figcaption>Featured artworks</figcaption>
</figure>

<p>Hi, I'm sqvrltastic and I'm a digital artist. This is my main place for posting my artworks and sharing my thoughts.
    <strong>Welcome to my website!</strong> 🎨
</p>
<p>The content on this site is <strong>SFW</strong>, but it is <em>not</em> intended for children. Some artworks are
    slightly suggestive. Also, I swear, <del>a lot</del> <em>occasionally</em>. Keep that in mind.</p>
<p>If you want to reach me, your best bet is to shoot me an <strong>email</strong> at <a
        href="mailto:sqvrltastic@gmail.com">sqvrltastic@gmail.com</a>; I check my email inbox regularly.</p>
<p>You can also sign my <a href="/guestbook/">guestbook</a>!</p>
<p>I also have a profile on <a href="https://github.com/sqvrltastic" target="_blank"
        rel="noopener noreferrer">GitHub</a> and I post my art on <a href="https://www.reddit.com/user/sqvrltastic/"
        target="_blank" rel="noopener noreferrer">Reddit</a>, but I'm not as active there as I'm trying to limit my use
    of social media.</p>
<p>Commission status: <strong>closed</strong>.</p>
<p>I don't take commissions at the moment because, honestly, I just don't feel ready yet. For now, I am still focused on
    growing and developing a semi-consistent and efficient drawing process.</p>
<h2>Updates</h2>
<p>
    You can <strong>subscribe</strong> to the website's <a href="/rss.xml" target="_blank" rel="noopener noreferrer">RSS
        feed</a> to receive news and
    updates when I
    post, <em>no email or signup necessary</em>. If you don't know what RSS is, I wrote an explanation <a
        href="/guides/how-to-subscribe/">here</a>.
</p>
<!-- Updates listing and sorting algorithm -->
{{- $allPosts := slice -}}
{{- $allPosts = $allPosts | append (where .Site.RegularPages "Section" "in" (slice "fanart" "originals")) -}}
{{- $allPosts = $allPosts | append (where .Site.RegularPages "Section" "journal") -}}
{{- $allPosts = $allPosts | append (where .Site.RegularPages "Section" "guides") -}}
{{- $allPosts = $allPosts | append (where .Site.RegularPages "Section" "log") -}}
{{- $sortedPosts := sort $allPosts "Date" "desc" | first 20 -}}
{{- range $sortedPosts }}
<article>
    <!-- Title -->
    <h2>
        {{- if or (eq .Section "fanart") (eq .Section "originals") -}}
        New artwork
        {{- else if eq .Section "journal" -}}
        New journal post
        {{- else if eq .Section "guides" -}}
        New guide
        {{- else -}}
        Website update
        {{- end -}}
    </h2>
    <!-- Date -->
    <time datetime='{{ .Date.Format "2006-02-01" }}'>{{ .Date.Format "01/02/2006" }}</time>
    <!-- If it's an artwork it adds a picture -->
    {{- if or (eq .Section "fanart") (eq .Section "originals") -}}
    <a href="{{ .RelPermalink }}">
        <img class="preview" src="{{ .Params.preview | relURL }}" alt="{{ .Title }}" loading="lazy">
    </a>
    <!-- and a link to full -->
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <!-- if it's a journal post -->
    {{- else if eq .Section "journal" -}}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <p class="description">{{ .Description }}</p>
    <!-- if it's a guide -->
    {{- else if eq .Section "guides" -}}
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <p class="description">{{ .Description }}</p>
    {{- else -}}
    <!-- this is for when I use basic plain text update format -->
    <p class="description">{{ .Content | plainify | htmlUnescape }}</p>
    {{- end -}}
</article>
{{ end }}
<p><i>Older entries are deleted automatically.</i></p>
{{ end }}