@charset "UTF-8";

/* Custom typeface — Open Sans (sans-serif) */

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Custom typeface — Google Sans Code (monospace) */

/* Regular */
@font-face {
  font-family: "GoogleSansCode";
  src: url("../fonts/GoogleSansCode-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "GoogleSansCode";
  src: url("../fonts/GoogleSansCode-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "GoogleSansCode";
  src: url("../fonts/GoogleSansCode-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: "GoogleSansCode";
  src: url("../fonts/GoogleSansCode-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Custom typeface — Slackside One (display font) */

/* Regular */
@font-face {
  font-family: "SlacksideOne";
  src: url("../fonts/SlacksideOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Global theme */

html {
  color-scheme: dark light;
}

@media (prefers-color-scheme: dark) {
  --bg-color: #2b2b2b;
  --main-color: #dedede;
  --bg-extra-color: #454545;
  --main-extra-color: gray;
  --colored-text: greenyellow;
  #guestbook {
    filter: invert(1);
    mix-blend-mode: lighten;
  }
  .top-message {
    color: var(--bg-color);
    background-color: var(--main-color);
    background-image: revert-layer;
    box-shadow: revert-layer;
  }
  .icon {
    filter: invert(1);
  }
  a:has(> .preview):hover {
    box-shadow: revert-layer;
  }
}

:root {
  --bg-color: #f2f2f2;
  --main-color: black;
  --neutral-color: rgba(128, 128, 128, 0.2);
  --bg-extra-color: #d9d9d9;
  --main-extra-color: gray;
  --accent-color: #1a52be;
  --colored-text: #0000f5;
}

html[data-theme="dark"] {
  --bg-color: #2b2b2b;
  --main-color: #dedede;
  --bg-extra-color: #454545;
  --main-extra-color: gray;
  --colored-text: greenyellow;
  #guestbook {
    filter: invert(1);
    mix-blend-mode: lighten;
  }
  .top-message {
    color: var(--bg-color);
    background-color: var(--main-color);
    background-image: revert-layer;
    box-shadow: revert-layer;
  }
  .icon {
    filter: invert(1);
  }
  a:has(> .preview):hover {
    box-shadow: revert-layer;
    transform: scale(1.05);
  }
}

/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  font-family: OpenSans, "Segoe UI", sans-serif;
  font-size: 0.9rem;
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

* {
  margin: 0;
  transition: all 0.3s;
  scrollbar-color: var(--main-extra-color) var(--bg-color);
}

#skip-link {
  position: absolute;
  inset-inline-start: -10000px;
  inset-block-start: auto;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  &:focus {
    position: sticky;
    inset-block-start: 0px;
    inline-size: auto;
    block-size: auto;
  }
}

#flex-container {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  max-inline-size: fit-content;
}

#left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
  position: sticky;
  inset-block-start: 0px;
  max-block-size: calc(100vh - 2rem);
  padding-inline-start: 1.5rem;
  inline-size: 10rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

#right {
  inline-size: 35rem;
  padding-inline-end: 1.5rem;
  position: relative;
}

#latest-artwork {
  all: revert-layer;
  margin: 2rem 0 0;
  inline-size: 9rem;
  padding-block-end: 1rem;
  border-block-end: 0.07rem solid var(--main-color);
  > a:has(> .preview) {
    margin-block-end: 0.5rem;
    inline-size: 8.3rem;
    &:active {
      transform: scale(1.05);
    }
  }
}

#social-media {
  flex-direction: row;
  gap: 0.5rem;
  padding: 0;
  list-style: none;
  > li > a > .icon {
    inline-size: 1.7rem;
  }
}

#scroll-to-top {
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  inset-block-end: 1rem;
  inset-inline-end: 50%;
  transform: translateX(28rem);
  padding: 1.3rem;
  background-color: var(--bg-color);
  border: 0.07rem solid var(--main-color);
  border-radius: 50%;
  > img {
    aspect-ratio: 1/1;
    inline-size: 0.6rem;
  }
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
  @media (max-width: 1000px) {
    inset-inline-end: 1rem;
    transform: revert-layer;
  }
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  > div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    white-space: nowrap;
  }
}

footer {
  inline-size: 9rem;
  border-block-start: 0.07rem solid var(--main-color);
  padding-block-start: 1rem;
  > p {
    font-size: 0.7rem;
  }
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2.5rem 0;
  border-block-end: 0.07rem solid var(--main-color);
}

#logo {
  grid-row: span 2 / span 2;
  font-family: SlackSideOne, sans-serif;
  font-size: 3rem;
  line-height: 3rem;
}

#theme-menu {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  justify-self: end;
  inline-size: fit-content;
  > button {
    border: 0;
    padding: 0;
    background-color: transparent;
    &:hover {
      cursor: pointer;
    }
    > img {
      block-size: 1rem;
      aspect-ratio: 1 / 1;
    }
  }
}

#theme-no-js {
  display: none;
}

#version {
  grid-column-start: 2;
  place-self: end;
  inline-size: fit-content;
}

#main {
  scroll-margin-block-start: 12.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

#post-header {
  all: revert-layer;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-block-end: 1.5rem;
  > ul {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0.7rem;
    > li {
      display: inline;
    }
  }
  > p {
    margin-block-start: 0.1rem;
  }
  &:has(+ :not(h2)) {
    margin-block-end: 1rem;
  }
}

.top-message {
  background: #ffc7de;
  background: linear-gradient(
    90deg,
    rgba(255, 199, 222, 1) 0%,
    rgba(186, 218, 255, 1) 100%
  );
  padding: 0.2rem 0.7rem;
  border-radius: 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.2rem var(--main-extra-color);
  &:not(:has(+ h2)) {
    margin-block-end: 1rem;
  }
}

/* General styling */

h1 {
  font-size: 1.5rem;
  word-break: keep-all;
}

h2 {
  scroll-margin-block-start: 1.5rem;
  font-size: 1rem;
  &:not(#post-header + h2, article > h2) {
    margin-block-start: 1.5rem;
  }
}

h3,
h4 {
  font-size: 0.9rem;
  font-weight: normal;
}

a {
  color: var(--main-color);
  &:hover {
    color: var(--main-extra-color);
  }
  &:active {
    color: var(--bg-extra-color);
  }
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

dl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline-start: 2rem;
}

img {
  display: block;
}

.img-inline {
  display: inline;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

code,
kbd {
  font-family: GoogleSansCode, Consolas, monospace;
  font-size: 0.75rem;
  background-color: var(--neutral-color);
  display: inline-block;
  max-inline-size: fit-content;
  padding: 0.04rem 0.1rem;
  border-radius: 0.2rem;
}

hr {
  border: none;
  margin: 0.3rem auto 0;
}

hr::before {
  content: "***";
  color: var(--main-color);
  display: block;
  text-align: center;
}

blockquote {
  margin: 0.8rem 0 0.8rem 2rem;
  max-inline-size: 25rem;
  padding-inline-start: 1.2rem;
  border-inline-start: 0.15rem solid var(--main-color);
}

article {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.25rem;
  border: 0.1rem solid var(--main-color);
  border-radius: 0.2rem;
  > time {
    justify-self: end;
  }
  > img {
    grid-column: span 2 / span 2;
    max-inline-size: 10rem;
    border: 0.07rem solid var(--main-color);
    aspect-ratio: 1 / 1;
  }
  > a,
  > .description {
    grid-column: span 2 / span 2;
  }
}

figure {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.25rem;
  border: 0.1rem solid var(--main-color);
  border-radius: 0.2rem;
}

.favorite-media {
  /* figure class */
  flex-direction: row;
  gap: 1rem;
  > img {
    aspect-ratio: 2/3;
    block-size: 15.5rem;
    border: 0.07rem solid var(--main-color);
  }
  > figcaption {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.image-annotation {
  /* figure class */
  all: unset;
  > figcaption {
    font-size: 0.75rem;
    font-style: italic;
  }
}

/* Details */

details {
  border: 0.1rem solid var(--main-color);
  border-radius: 0.2rem;
}

details > *:not(summary) {
  margin: 1rem;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  list-style: none;
  &:hover {
    cursor: pointer;
    background-color: var(--bg-extra-color);
  }
}

summary::after {
  /* Rotating triangle for <details> */
  content: "";
  transition: 0.3s;
  border-block-start: 0.4rem solid var(--main-color);
  border-inline: 0.25rem solid transparent;
}

details[open] > summary::after {
  transform: rotate(-180deg);
}

summary::-webkit-details-marker {
  display: none; /* End of segment */
}

/* <details> CSS-only animation, with presets for different sizes */

details::details-content {
  max-block-size: 0;
  opacity: 0;
  transition: opacity 0.4s, max-block-size 0.15s linear,
    content-visibility 0.15s linear;
  transition-behavior: allow-discrete;
  overflow: hidden;
}

details[open]::details-content {
  opacity: 1;
  max-block-size: 15rem; /* max-block-size has to be hard-coded for the animation to work (unfortunately) */
}

.animation-medium::details-content {
  transition: opacity 0.4s, max-block-size 0.2s linear,
    content-visibility 0.2s linear;
  transition-behavior: allow-discrete;
}

.animation-medium[open]::details-content {
  max-block-size: 30rem;
}

.animation-long::details-content {
  transition: opacity 0.4s, max-block-size 0.25s linear,
    content-visibility 0.25s linear;
  transition-behavior: allow-discrete;
}

.animation-long[open]::details-content {
  max-block-size: 60rem;
}

.animation-extra-long::details-content {
  transition: opacity 0.4s, max-block-size 0.3s linear,
    content-visibility 0.3s linear;
  transition-behavior: allow-discrete;
}

.animation-extra-long[open]::details-content {
  max-block-size: 100rem;
}

/* Various UI elements */

#guestbook {
  inline-size: 100%;
  block-size: 31.5rem;
  mix-blend-mode: darken;
  border: none;
  transition: opacity;
}

ul:has(> .blog-item) {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0;
  list-style: none;
}

.blog-item > div {
  display: flex;
  gap: 0.7rem;
  > time {
    flex-shrink: 0;
  }
}

.note-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 0.1rem dotted var(--main-color);
  border-radius: 1.5rem;
  padding: 1.5rem;
  &:not(#post-header + .note-box) {
    margin: 0.5rem 0;
  }
  + h2 {
    margin-block-start: 1rem !important;
  }
}

/* Specific image templates */

.gallery {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.preview {
  inline-size: 100%;
}

a:has(> .preview) {
  display: block;
  aspect-ratio: 1 / 1;
  border: 0.07rem solid var(--main-color);
  transition: 0.15s;
  &:hover {
    box-shadow: 0 0 0.7rem 0.2rem rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
  }
  &:active {
    transform: scale(1);
  }
}

.artwork {
  max-inline-size: 100%;
  max-block-size: 30rem;
  margin: 0 auto;
}

div:has(> .artwork) {
  border: 0.07rem solid var(--main-color);
}

.big-image {
  aspect-ratio: 16/9;
  max-inline-size: 100%;
  border: 0.07rem solid var(--main-color);
}

div:has(> .big-image) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.small-button {
  /* code to make 88x31 buttons look crispier and negate browser zoom */
  inline-size: 4.2rem;
  aspect-ratio: 88/31;
  transform: scale(1);
}

a:has(> .small-button) {
  display: block;
  inline-size: fit-content;
  transition: 0.15s;
  &:hover {
    box-shadow: 0 0 0.7rem var(--main-extra-color);
    transform: scale(1.03);
  }
  &:active {
    transform: scale(1);
  }
}

.stamp {
  inline-size: 4.6rem;
  aspect-ratio: 99/56;
  transform: scale(1);
}

div:has(> .stamp) {
  /* Stamp collection */
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.icon {
  aspect-ratio: 1/1;
}

/* Ocasionally used text styles */

.text-center {
  text-align: center;
}

.text-colored {
  color: var(--colored-text);
}

.text-breakall {
  word-break: break-all;
}

/* CSS for 404 page */

.four-o-four {
  scrollbar-gutter: revert-layer;
  overflow-y: revert-layer;
  > div {
    display: grid;
    place-content: center;
    gap: 0.5rem;
    block-size: 100vh;
    text-align: center;
    > h1 {
      font-size: 4rem;
      line-height: 5rem;
    }
  }
}
