@charset "UTF-8";

/* Custom typeface — Open Sans (sans-serif) */

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Custom typeface — Google Sans Code (monospace) */

/* Regular */
@font-face {
  font-family: "GoogleSansCode";
  src: url("../fonts/GoogleSansCode-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "GoogleSansCode";
  src: url("../fonts/GoogleSansCode-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "GoogleSansCode";
  src: url("../fonts/GoogleSansCode-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: "GoogleSansCode";
  src: url("../fonts/GoogleSansCode-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Custom typeface — Slackside One (display font) */

/* Regular */
@font-face {
  font-family: "SlacksideOne";
  src: url("../fonts/SlacksideOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

/* Global theme */

:root {
  --bg-color: #f2f2f2;
  --main-color: black;
  --neutral-color: rgba(128, 128, 128, 0.2);
  --bg-extra-color: #d9d9d9;
  --main-extra-color: gray;
  --colored-text: #0000f5;
}

html[data-theme="dark"] {
  --bg-color: #2b2b2b;
  --main-color: #dedede;
  --bg-extra-color: #454545;
  --main-extra-color: gray;
  --colored-text: greenyellow;
}

html[data-theme="dark"] .social-media > li > a > img {
  filter: invert(1);
}

* {
  transition: background-color 0.3s, color 0.3s, border-color 0.3s, filter 0.3s;
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  font-family: OpenSans, "Segoe UI", sans-serif;
  font-size: 0.9rem;
  margin: 0;
}

/* Skip to main link */

.skip-link {
  position: absolute;
  inset-inline-start: -10000px;
  inset-block-start: auto;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
}

.skip-link:focus {
  position: static;
  inline-size: auto;
  block-size: auto;
}

/* Layout */

.flex-container {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  max-inline-size: fit-content;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
  position: sticky;
  top: 0px;
  block-size: calc(100vh - 1rem);
  inline-size: 10rem;
  overflow-y: auto;
}

.primary {
  inline-size: 35rem;
}

.latest-artwork {
  all: revert;
  margin: 0;
  max-inline-size: fit-content;
  margin-block-start: 2rem;
  padding-block-end: 1rem;
  border-block-end: 0.07rem solid var(--neutral-color);
}

.latest-artwork > a > .preview {
  inline-size: 7rem;
  margin-block-end: 0.2rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav > div {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.social-media {
  display: flex;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-media > li > a > img {
  inline-size: 1.7rem;
  aspect-ratio: 1/1;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: sticky;
  top: 0px;
  z-index: 999;
  padding: 2rem 0;
  margin-block-end: 1rem;
  background-color: var(--bg-color);
  border-block-end: 0.07rem solid var(--neutral-color);
}

header * {
  margin: 0;
}

.logo {
  grid-row: span 2 / span 2;
  font-family: SlackSideOne, monospace;
  font-size: 3rem;
  line-height: 3rem;
}

#theme-menu {
  grid-column-start: 2;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  align-self: start;
  justify-self: end;
  inline-size: fit-content;
}

.version {
  align-self: end;
  justify-self: end;
  inline-size: fit-content;
}

button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

button > img {
  block-size: 1rem;
  aspect-ratio: 1 / 1;
  transition: filter 0.3s;
}

button > img:hover {
  filter: opacity(0.5);
}

button > img:active {
  filter: opacity(0.1);
  transition: none;
}

header > details {
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 1;
  display: none;
}

footer {
  border-block-start: 0.07rem solid var(--neutral-color);
  padding-block-start: 1rem;
}

footer > p {
  font-size: 0.8rem;
  margin: 0;
}

#main {
  scroll-margin-block-start: 12rem;
}

/* General styling */

h1 {
  font-size: 1.2rem;
  margin-block-start: 0;
}

h2 {
  font-size: 1rem;
  margin-block-start: 2rem;
}

h3,
h4 {
  font-size: 0.9rem;
  font-weight: normal;
}

a {
  color: var(--main-color);
}

a:hover {
  color: var(--main-extra-color);
}

a:active {
  color: var(--neutral-color);
  transition: none;
}

img {
  display: block;
}

li {
  line-height: 1.3rem;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

code,
kbd {
  font-family: GoogleSansCode, Consolas, monospace;
  font-size: 0.75rem;
  background-color: var(--neutral-color);
  display: inline-block;
  max-inline-size: fit-content;
  padding: 0.04rem 0.1rem;
  border-radius: 0.2rem;
}

hr {
  border: none;
  margin: 1.3rem auto 1rem;
}

hr::before {
  content: "***";
  display: block;
  text-align: center;
}

details {
  margin: 1rem auto;
  border: 0.1rem solid var(--main-color);
  border-radius: 0.2rem;
}

details > *:not(summary) {
  margin: 1rem;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  list-style: none;
}

/* Rotating triangle for <details> */

summary::after {
  content: "";
  transition: 0.3s;
  border-block-start: 0.4rem solid var(--main-color);
  border-inline: 0.25rem solid transparent;
}

details[open] > summary::after {
  transform: rotate(-180deg);
}

summary::-webkit-details-marker {
  display: none;
}

/* end */

/* <details> CSS-only animation, with presets for different sizes */

details::details-content {
  max-block-size: 0;
  opacity: 0;
  transition: opacity 0.4s, max-block-size 0.15s linear,
    content-visibility 0.15s linear;
  transition-behavior: allow-discrete;
  overflow: hidden;
}

details[open]::details-content {
  opacity: 1;
  max-block-size: 15rem; /* max-block-size has to be hard-coded for the animation to work (unfortunately) */
}

.animation-medium::details-content {
  transition: opacity 0.4s, max-block-size 0.2s linear,
    content-visibility 0.2s linear;
  transition-behavior: allow-discrete;
}

.animation-medium[open]::details-content {
  max-block-size: 30rem;
}

.animation-long::details-content {
  transition: opacity 0.4s, max-block-size 0.25s linear,
    content-visibility 0.25s linear;
  transition-behavior: allow-discrete;
}

.animation-long[open]::details-content {
  max-block-size: 60rem;
}

.animation-extra-long::details-content {
  transition: opacity 0.4s, max-block-size 0.3s linear,
    content-visibility 0.3s linear;
  transition-behavior: allow-discrete;
}

.animation-extra-long[open]::details-content {
  max-block-size: 100rem;
}

/* end */

summary > h3 {
  margin: 0;
}

summary:hover {
  cursor: pointer;
  background-color: var(--bg-extra-color);
}

figure {
  padding: 1.25rem;
  margin: 1rem auto;
  border: 0.1rem solid var(--main-color);
  border-radius: 0.2rem;
}

figure > img {
  border: 0.07rem solid var(--main-color);
}

article {
  padding: 1.25rem;
  margin: 1rem auto;
  border: 0.1rem solid var(--main-color);
  border-radius: 0.2rem;
}

article > div {
  display: flex;
  justify-content: space-between;
  margin-block-end: 0.7rem;
}

article > div > h2 {
  margin: 0;
}

article p {
  margin: 0;
}

article > img {
  max-inline-size: 10rem;
  border: 0.07rem solid var(--main-color);
  margin-block-end: 0.7rem;
  aspect-ratio: 1 / 1;
}

article > .desc {
  margin-block-start: 0.7rem;
}

iframe {
  inline-size: 100%;
  block-size: 31.5rem;
  mix-blend-mode: darken;
  border: none;
}

/* Gallery */

.gallery {
  display: grid;
  gap: 0.5rem;
}

.gallery {
  grid-template-columns: repeat(4, 1fr);
}

.featured {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.preview {
  display: block;
  overflow: hidden;
  border: 0.07rem solid var(--main-color);
  transition: filter 0.3s;
  aspect-ratio: 1 / 1;
}

.preview > img {
  inline-size: 100%;
}

.preview:hover {
  filter: brightness(1.15);
}

.preview:active {
  border: 0.07rem solid var(--neutral-color);
}

.artwork {
  border: 0.07rem solid var(--main-color);
}

.artwork > img {
  max-inline-size: 100%;
  max-block-size: 30rem;
  margin: 0 auto;
}

/* Title and date for some posts */

.title-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CSS for 404 page */

.fourofour {
  text-align: center;
  inline-size: fit-content;
  block-size: fit-content;
  position: absolute;
  inset: 0;
  margin: auto;
}

.fourofour > h1 {
  font-size: 4rem;
  margin: 0 auto;
}

.fourofour > p {
  margin: 0 auto 1rem;
}

/* Ocasionally used text styles */

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-colored {
  color: var(--colored-text);
}

.text-breakall {
  word-break: break-all;
}

.spoiler {
  background-color: var(--main-color);
  color: var(--main-color);
}

.spoiler:hover {
  background-color: transparent;
  color: var(--main-color);
}

/* OS dark theme preference if not manually set */

@media (prefers-color-scheme: dark) {
  html:not([data-theme]) {
    --bg-color: #2b2b2b;
    --main-color: #dedede;
    --bg-extra-color: #454545;
    --main-extra-color: gray;
    --colored-text: greenyellow;
  }
}

html:not([data-theme]) .social-media > li > a > img {
  filter: invert(1);
}

/* CSS for smaller screens */

@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  details > *:not(summary) {
    margin: 0.5rem;
  }

  .gallery {
    gap: 0.3rem;
  }
}
