@charset "UTF-8";

/* Custom typeface — Inter (body text) */

/* Regular */
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Extra Bold */
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Extra Bold Italic */
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-800-italic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Black */
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Custom typeface — Google Sans Code (code) */

/* Regular */
@font-face {
  font-family: "GoogleSansCode";
  src: url("../fonts/GoogleSansCode-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "GoogleSansCode";
  src: url("../fonts/GoogleSansCode-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "GoogleSansCode";
  src: url("../fonts/GoogleSansCode-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: "GoogleSansCode";
  src: url("../fonts/GoogleSansCode-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Custom typeface — Perfect Time (logo) */

@font-face {
  font-family: "Perfect Time";
  src: url("../fonts/perfect-time.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

/* Global styles */

html {
  color-scheme: dark light;
}

:root {
  --main-color: #161616;
  --bg-color: #f3f3f3;
  --neutral-color: rgba(153, 153, 153, 0.2);
  --link-color: #0069d9;
  --thin-border: 0.07rem solid var(--main-color);
  --thick-border: 0.1rem solid var(--main-color);
  --rounded-edges: 0.5em;
  --focus-outline: 0.1rem solid var(--link-color);
}

html[data-theme="dark"] {
  --main-color: #dedede;
  --bg-color: #2b2b2b;
  --link-color: #ff5faa;
  #guestbook {
    filter: invert(1);
    mix-blend-mode: lighten;
  }
  #theme-toggle > img {
    transform: translateX(1.2em);
  }
  .icon {
    color: var(--bg-color); /* alt text color */
    filter: invert(1);
  }
  a:has(> .icon) {
    text-decoration-color: var(--bg-color);
  }
  .teal {
    color: #00d1b4;
  }
  .text-colored {
    color: greenyellow;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  /* Smooth scrolling 
  IF user doesn't have a preference 
  due to motion sensitivities */
  html {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  font-family: "Inter", "Segoe UI", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

* {
  margin: 0;
  transition: all 0.3s;
  scrollbar-color: gray var(--bg-color);
}

.noscript > p {
  padding: 1em;
  color: rgb(170, 0, 0);
  background-color: rgb(255, 221, 221);
  text-align: center;
}

#skip-link {
  position: absolute;
  inset-inline-start: -10000px;
  inset-block-start: auto;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  &:focus-visible {
    position: fixed;
    inset-block-start: 0.1em;
    inset-inline-start: 0.1em;
    inline-size: auto;
    block-size: auto;
  }
}

/* Layout */

#flex-container {
  display: flex;
  gap: 4em;
  padding: 3em;
  margin: 0 auto;
  max-inline-size: fit-content;
  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

#left-column,
#right-column {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  white-space: nowrap;
  padding: 0 0.5em;
  position: sticky;
  inset-block-start: 3em;
  min-inline-size: 10em;
  /* code for vertical scrollbar to appear when needed */
  max-block-size: calc(100vh - 7em);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  @media (max-width: 1200px) {
    position: static;
  }
}

#left-column {
  gap: 1.7em;
}

#center-column {
  inline-size: 38em;
  flex: 4;
  @media (max-width: 1200px) {
    max-inline-size: 100%;
  }
}

#right-column {
  gap: 2em;
}

#logo {
  font-family: "Perfect Time", cursive;
  font-size: 2.5em;
  line-height: 0.9em;
  color: var(--main-color);
  text-decoration: none;
  inline-size: fit-content;
  margin-block-start: 0.1em;
}

nav {
  display: flex;
  flex-direction: column;
  gap: inherit;
  > div {
    display: flex;
    flex-direction: column;
    > #gallery {
      /* details element */
      border: none;
      border-radius: 0;
      &[open]::details-content {
        max-block-size: 4.8em;
      }
      > * {
        padding: 0;
        margin: 0;
      }
      > a {
        padding-inline-start: 1em;
      }
      > summary:hover {
        background-color: revert-layer;
      }
    }
  }
  a {
    text-decoration: none;
    color: var(--main-color);
    display: block;
    inline-size: fit-content;
    &:hover {
      color: var(--link-color);
    }
  }
}

/* Disable transitions during restore */
html.restore-menu-open #gallery {
  transition: none;
  &::details-content {
    transition: none;
  }
  > summary::after {
    transition: none;
  }
}

#latest-artwork {
  /* It's a figure element */
  all: revert-layer;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0; /* Idk where it gets a margin from LMAO oops */
  margin-block-start: 0.1em;
  > a:has(> .preview) {
    all: revert-layer;
    display: block;
    aspect-ratio: 1/1;
    inline-size: 7em;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 0.5em;
    border: 0.07rem solid var(--neutral-color);
    &:focus-visible {
      outline: var(--focus-outline);
    }
  }
}

#social-media {
  flex-direction: row;
  gap: 0.5em;
  padding: 0;
  list-style: none;
  > li > a > .icon {
    inline-size: 1.35em;
  }
}

footer {
  font-size: 0.7em;
  line-height: 150%;
}

#theme-toggle {
  font-size: inherit;
  inline-size: 3em;
  background-color: transparent;
  border: var(--thick-border);
  border-radius: 5em;
  padding: 0;
  &:hover {
    cursor: pointer;
  }
  &:focus-visible {
    outline: var(--focus-outline);
    transition: none;
  }
  > #theme-icon {
    /* This is an image element */
    filter: revert-layer;
    margin: 0.3em;
    inline-size: 1em;
  }
}

#theme-no-js {
  /* fallback if Js is disabled */
  display: none;
  font-size: 0.75em;
  line-height: 150%;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  > *:not(h1) {
    font-size: 0.9em;
  }
  > #breadcrumbs {
    display: block;
    padding: 0;
    list-style: none;
    > li {
      display: inline;
    }
  }
  > p {
    margin-block-start: 0.1em;
  }
}

#main {
  scroll-margin-block-start: 3em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

#scroll-to-top {
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  inset-block-end: 1em;
  inset-inline-end: 50%;
  transform: translateX(22.8em);
  padding: 1.3em;
  background-color: var(--bg-color);
  border: var(--thick-border);
  border-radius: 50%;
  > .icon {
    inline-size: 0.6em;
  }
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
  @media (max-width: 820px) {
    inset-inline-end: 1em;
    transform: revert-layer;
  }
}

/* General styling */

h1 {
  font-size: 2em;
  font-weight: 900;
  line-height: 115%;
  word-break: keep-all;
}

h2 {
  font-size: 1.4em;
  font-weight: 800;
  margin-block-start: 0.8em;
  scroll-margin-block-start: 1em;
}

header:not(:has(> p)) + h2 {
  margin-block-start: 0.5em;
}

div + h2,
details + h2 {
  margin-block-start: 1.1em;
}

h3 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: var(--link-color);
  &:not([href*="sqvrltastic.art"])
    :not([href*="localhost:1313"]) /* for development only */
    :not([href^="#"])
    :not([href^="/"])
    :not([href^="./"])
    :not([href^="../"])
    :not([href^="mailto:"])
    :not(:has(> img))::after {
    content: "↗";
  }
  &:has(> img) {
    display: block;
  }
  &:focus-visible {
    outline: var(--focus-outline);
    transition: none;
  }
}

strong {
  font-weight: 800;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 0.65em;
}

dl {
  display: flex;
  flex-direction: column;
  gap: inherit;
}

dt {
  font-weight: 800;
}

dd {
  display: flex;
  flex-direction: column;
  gap: inherit;
  padding-inline-start: 2em;
}

img {
  display: block;
}

.img-inline {
  display: inline;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

code,
kbd {
  font-family: "GoogleSansCode", "Consolas", monospace;
  font-size: 0.85em;
  background-color: var(--neutral-color);
  display: inline-block;
  max-inline-size: fit-content;
  padding: 0 0.5em;
  margin: 0 0.2em;
  border-radius: 0.7em;
}

a > code,
a > kbd {
  text-decoration: underline;
}

hr {
  border: none;
  margin: 0.3em auto 0;
}

hr::before {
  content: "* * *";
  color: var(--main-color);
  display: block;
  text-align: center;
}

blockquote {
  margin: 1em 0 1em 3em;
  max-inline-size: 25em;
  padding-inline-start: 1.2em;
  border-inline-start: 0.15rem solid var(--main-color);
}

article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 1.5em;
  border: var(--thick-border);
  border-radius: var(--rounded-edges);
  > h2 {
    margin-block-start: 0;
  }
  > time {
    justify-self: end;
  }
  > a:has(> .preview) {
    grid-column: span 2 / span 2;
    max-inline-size: 10em;
  }
  > a,
  > .description {
    grid-column: span 2 / span 2;
    max-inline-size: fit-content;
  }
}

figure {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1.5em;
  border: var(--thick-border);
  border-radius: var(--rounded-edges);
  > img {
    border: var(--thin-border);
  }
}

.favorite-media {
  /* figure element */
  flex-direction: row;
  gap: 1.5em;
  > img {
    aspect-ratio: 2/3;
    block-size: 16em;
  }
  > figcaption {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

.image-annotation {
  /* figure element */
  all: unset;
  > figcaption {
    font-size: 0.75em;
    font-style: italic;
  }
}

header + p:has(> i):has(+ h2) {
  /* this targets the p tag that has i and is followed by h2 */
  margin-block-start: 0.8em;
}

details {
  border: var(--thick-border);
  border-radius: var(--rounded-edges);
  overflow: hidden;
  > *:not(summary) {
    margin: 1.5em;
  }
  &[open] > summary::after {
    transform: rotate(-180deg);
  }
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.7em;
  list-style: none;
  &:hover {
    cursor: pointer;
    background-color: var(--neutral-color);
  }
  &::after {
    /* Rotating triangle at the end for details */
    content: "";
    transition: 0.3s;
    border-block-start: 0.5rem solid var(--main-color);
    border-inline: 0.3rem solid transparent;
  }
  &::-webkit-details-marker {
    /* for Safari */
    display: none;
  }
}

/* <details> CSS-only animation, with presets for different sizes */
@media screen and (prefers-reduced-motion: no-preference) {
  details::details-content {
    max-block-size: 0;
    opacity: 0;
    transition:
      opacity 0.4s,
      max-block-size 0.15s linear,
      content-visibility 0.15s linear;
    transition-behavior: allow-discrete;
    overflow: hidden;
  }

  details[open]::details-content {
    opacity: 1;
    max-block-size: 15em; /* max-block-size has to be hard-coded for the animation to work (unfortunately) */
  }

  .animation-medium::details-content {
    transition:
      opacity 0.4s,
      max-block-size 0.2s linear,
      content-visibility 0.2s linear;
    transition-behavior: allow-discrete;
  }

  .animation-medium[open]::details-content {
    max-block-size: 30em;
  }

  .animation-long::details-content {
    transition:
      opacity 0.4s,
      max-block-size 0.25s linear,
      content-visibility 0.25s linear;
    transition-behavior: allow-discrete;
  }

  .animation-long[open]::details-content {
    max-block-size: 60em;
  }

  .animation-extra-long::details-content {
    transition:
      opacity 0.4s,
      max-block-size 0.3s linear,
      content-visibility 0.3s linear;
    transition-behavior: allow-discrete;
  }

  .animation-extra-long[open]::details-content {
    max-block-size: 100em;
  }
}

details:has(> summary:focus-visible),
details > summary:focus-visible,
details[open] > summary:focus-visible {
  outline: var(--focus-outline);
  transition: none;
}

/* Various UI elements */

#guestbook {
  inline-size: 100%;
  block-size: 31.5em;
  mix-blend-mode: darken;
  border: none;
  transition: opacity;
}

ul:has(> .list-page-item) {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}

.list-page-item {
  display: flex;
  word-break: keep-all;
  > time {
    inline-size: 6.6em;
    flex-shrink: 0;
  }
}

.note-box {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 0.1rem dotted var(--main-color);
  border-radius: 2em;
  padding: 2em;
  margin: 1em 0;
  font-style: italic;
}

header + .note-box {
  margin-block-start: 1.5em;
}

.note-box + h2 {
  margin-block-start: 0.5em;
}

/* Specific image templates */

.gallery {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(4, 1fr);
  > a:has(> .preview) {
    outline: 0.1rem solid transparent;
    &:hover {
      outline: var(--focus-outline);
    }
    &:focus-visible {
      transition: none;
      outline: var(--focus-outline);
    }
  }
}

a:has(> .preview) {
  display: block;
  border: var(--thin-border);
}

.preview {
  aspect-ratio: 1 / 1;
  inline-size: 100%;
}

.artwork {
  max-inline-size: 100%;
  max-block-size: 30em;
  margin: 0 auto;
}

div:has(> .artwork) {
  border: var(--thin-border);
}

.big-image {
  aspect-ratio: 16/9;
  max-inline-size: 100%;
  border: var(--thin-border);
}

div:has(> .big-image) {
  /* I only use this in the old design archive section */
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.small-button {
  /* code to make 88x31 buttons 
  look crispier and negate browser zoom */
  inline-size: 4.2rem;
  aspect-ratio: 88/31;
  transform: scale(1);
}

.stamp {
  /* code to make stamps look crispier 
  and negate browser zoom */
  inline-size: 4.6rem;
  aspect-ratio: 99/56;
  transform: scale(1);
}

div:has(> .stamp) {
  /* Stamp collection */
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.icon {
  color: var(--main-color); /* for alt text */
  aspect-ratio: 1/1;
  opacity: 0.9;
}

a:has(> .icon) {
  /* for alt text underline color */
  text-decoration-color: var(--main-color);
}

/* Ocasionally used text styles */

.text-colored {
  color: blue;
}

.text-break-all {
  word-break: break-all;
}

.text-no-break {
  white-space: nowrap;
}

.red {
  color: red;
}

.teal {
  color: #00b7ad;
}

/* CSS for 404 page */

.four-o-four {
  scrollbar-gutter: revert-layer;
  overflow-y: revert-layer;
  > div {
    display: grid;
    place-content: center;
    gap: 0.5em;
    block-size: 100vh;
    text-align: center;
    > h1 {
      font-size: 4em;
    }
  }
}
