@charset "UTF-8";

@font-face {
  font-family: "Perfect Time";
  src: url("../fonts/Perfect Time.otf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Custom typeface — Wix Madeor Text (sans-serif) */

/* Regular */
@font-face {
  font-family: "Wix Make for Text";
  src: url("../fonts/wix-madefor-text-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "Wix Make for Text";
  src: url("../fonts/wix-madefor-text-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Wix Make for Text";
  src: url("../fonts/wix-madefor-text-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: "Wix Make for Text";
  src: url("../fonts/wix-madefor-text-700italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Extra Bold */
@font-face {
  font-family: "Wix Make for Text";
  src: url("../fonts/wix-madefor-text-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Custom typeface — Google Sans Code (monospace) */

/* Regular */
@font-face {
  font-family: "GoogleSansCode";
  src: url("../fonts/GoogleSansCode-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "GoogleSansCode";
  src: url("../fonts/GoogleSansCode-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "GoogleSansCode";
  src: url("../fonts/GoogleSansCode-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Bold Italic */
@font-face {
  font-family: "GoogleSansCode";
  src: url("../fonts/GoogleSansCode-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Custom typeface — Reenie Beanie (display) */

/* Regular */
@font-face {
  font-family: "Reenie Beanie";
  src: url("../fonts/reenie-beanie-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

/* Global styles */

html {
  color-scheme: dark light;
}

:root {
  --main-color: #161616;
  --bg-color: #f5f5f5;
  --bg-extra-color: #d9d9d9;
  --neutral-color: rgba(153, 153, 153, 0.2);
  --link-color: #0069d9;
  --colored-text: #0000f5;
}

html[data-theme="dark"] {
  --main-color: #dedede;
  --bg-color: #2b2b2b;
  --bg-extra-color: #454545;
  --link-color: #ff5faa;
  --colored-text: greenyellow;
  #guestbook {
    filter: invert(1);
    mix-blend-mode: lighten;
  }
  #theme-toggle > img {
    transform: translateX(1.2em);
  }
  .top-message {
    color: var(--bg-color);
    background-color: var(--main-color);
  }
  .icon {
    color: var(--bg-color); /* alt text color */
    filter: invert(1);
  }
  a:has(> .icon) {
    text-decoration-color: var(--bg-color);
  }

  .teal {
    color: #00d1b4;
  }
}

/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--main-color);
  font-family: "Inter", "Tahoma", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

* {
  margin: 0;
  transition: all 0.3s;
  scrollbar-color: gray var(--bg-color);
}

#skip-link {
  position: absolute;
  inset-inline-start: -10000px;
  inset-block-start: auto;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  &:focus {
    position: sticky;
    inset-block-start: 0px;
    inline-size: auto;
    block-size: auto;
  }
}

.noscript > p {
  padding: 1rem;
  color: rgb(170, 0, 0);
  background-color: rgb(255, 221, 221);
  text-align: center;
}

/* Layout */

#flex-container {
  display: flex;
  gap: 4em;
  padding: 3em;
  margin: 0 auto;
  max-inline-size: fit-content;
  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

#left-column {
  display: flex;
  flex-direction: column;
  gap: 1.7em;
  flex-shrink: 0;
  padding: 0 0.5em;
  position: sticky;
  inset-block-start: 3em;
  /* code for verticall scrollbar to appear when needed */
  max-block-size: calc(100vh - 7em);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  white-space: nowrap;
}

#logo {
  font-family: "Perfect Time", cursive;
  font-size: 2.5em;
  line-height: 0.9em;
  color: var(--main-color);
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: column;
  gap: inherit;
  > div {
    display: flex;
    flex-direction: column;
  }
  > div > a {
    text-decoration: none;
    color: var(--main-color);
    &:hover {
      color: var(--link-color);
    }
  }
}

#theme-toggle {
  font-size: inherit;
  display: flex;
  align-content: center;
  inline-size: 3em;
  background-color: transparent;
  border: 0.1rem solid var(--main-color);
  border-radius: 5em;
  padding: 0;
  &:hover {
    cursor: pointer;
  }
  > #theme-icon {
    /* This is an image element */
    filter: revert-layer;
    margin: 0.3em;
    inline-size: 1em;
  }
}

#theme-no-js {
  /* fallback if Js is disabled */
  display: none;
  font-size: 0.75em;
  line-height: 150%;
}

#center-column {
  inline-size: 38em;
  flex: 4;
  @media (max-width: 1200px) {
    max-inline-size: 100%;
  }
}

#right-column {
  display: flex;
  flex-direction: column;
  gap: 2em;
  flex-shrink: 0;
  padding: 0 0.5em;
  position: sticky;
  inset-block-start: 3em;
  /* code is for vertiacll scrollbar to appear when needed */
  max-block-size: calc(100vh - 7em);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  white-space: nowrap;
}

#left-column,
#right-column {
  min-inline-size: 10em;
  @media (max-width: 1200px) {
    position: static;
  }
}

#latest-artwork {
  /* It's a figure element */
  all: revert-layer;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0; /* Idk where it gets a margin from LMAO oops */
  > a:has(> .preview) {
    all: revert-layer;
    display: block;
    aspect-ratio: 1/1;
    inline-size: 7em;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 0.5em;
    border: 0.07rem solid var(--neutral-color);
  }
}

#social-media {
  flex-direction: row;
  gap: 0.5rem;
  padding: 0;
  list-style: none;
  > li > a > .icon {
    inline-size: 1.35rem;
  }
}

footer {
  font-size: 0.7em;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-block-end: 1.5rem;
  > #breadcrumbs {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0.9em;
    > li {
      display: inline;
    }
  }
  > p {
    margin-block-start: 0.5rem;
  }
  &:has(+ :not(h2)) {
    margin-block-end: 1rem;
  }
}

#main {
  scroll-margin-block-start: 3em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.top-message {
  padding: 0.2rem 0.5rem;
  background-color: #0477a41f;
  border-radius: 0.3rem;
  &:not(:has(+ h2)) {
    margin-block-end: 1rem;
  }
}

#scroll-to-top {
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  inset-block-end: 1rem;
  inset-inline-end: 50%;
  transform: translateX(23.5rem);
  padding: 1.3rem;
  background-color: var(--bg-color);
  border: 0.1rem solid var(--main-color);
  border-radius: 50%;
  > .icon {
    inline-size: 0.6rem;
  }
  &.show {
    opacity: 1;
    pointer-events: auto;
  }
  @media (max-width: 820px) {
    inset-inline-end: 1rem;
    transform: revert-layer;
  }
}

/* Various UI elements */

#guestbook {
  inline-size: 100%;
  block-size: 31.5rem;
  mix-blend-mode: darken;
  border: none;
  transition: opacity;
}

ul:has(> .blog-item) {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0;
  list-style: none;
}

.blog-item > div {
  display: flex;
  gap: 0.7rem;
  > time {
    flex-shrink: 0;
  }
}

.note-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 0.1rem solid var(--main-color);
  border-radius: 1.5rem;
  padding: 1.5rem;
  &:not(header + .note-box) {
    margin: 0.5rem 0;
  }
  + h2 {
    margin-block-start: 1rem !important;
  }
  > p:has(+ ul) {
    font-size: 1.2em;
  }
}

/* Specific image templates */

.gallery {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
  > a:has(> .preview) {
    transition: 0.05s linear;
    &:hover {
      transform: scale(1.04);
    }
    &:active {
      transform: scale(1);
    }
  }
}

a:has(> .preview) {
  display: block;
  aspect-ratio: 1 / 1;
  border: 0.07rem solid var(--main-color);
}

.preview {
  inline-size: 100%;
}

.artwork {
  max-inline-size: 100%;
  max-block-size: 30rem;
  margin: 0 auto;
}

div:has(> .artwork) {
  border: 0.07rem solid var(--main-color);
}

.big-image {
  aspect-ratio: 16/9;
  max-inline-size: 100%;
  border: 0.07rem solid var(--main-color);
}

div:has(> .big-image) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.small-button {
  /* code to make 88x31 buttons look crispier and negate browser zoom */
  inline-size: 4.2rem;
  aspect-ratio: 88/31;
  transform: scale(1);
}

.stamp {
  /* code to make stamps look crispier and negate browser zoom */
  inline-size: 4.6rem;
  aspect-ratio: 99/56;
  transform: scale(1);
}

div:has(> .stamp) {
  /* Stamp collection */
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.icon {
  color: var(--main-color); /* for alt text, in case image breaks */
  aspect-ratio: 1/1;
  opacity: 0.9;
}

a:has(> .icon) {
  text-decoration-color: var(--main-color); /* for alt text underline color */
}

/* General styling */

h1 {
  font-size: 2em;
  font-weight: 900;
  line-height: 120%;
  word-break: keep-all;
}

h2 {
  scroll-margin-block-start: 1.5em;
  font-size: 1.4em;
  font-weight: 800;
  &:not(header + h2, article > h2) {
    margin-block-start: 1.5em;
  }
}

details > summary > h3,
details > h4 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  color: var(--link-color);
  &:not([href*="sqvrltastic.art"])
    :not([href^="#"])
    :not([href^="/"])
    :not([href^="./"])
    :not([href^="../"])
    :not([href^="mailto:"])
    :not(:has(> img))::after {
    content: "↗";
  }
}

strong {
  font-weight: 800;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

dl {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

dt {
  font-weight: 800;
}

dd {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-inline-start: 2em;
}

img {
  display: block;
}

.img-inline {
  display: inline;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

code,
kbd {
  font-family: "GoogleSansCode", "Consolas", monospace;
  font-size: 0.85em;
  background-color: var(--neutral-color);
  display: inline-block;
  max-inline-size: fit-content;
  padding: 0 0.5em;
  margin: 0 0.2em;
  border-radius: 0.7em;
}

a > code,
a > kbd {
  text-decoration: underline;
}

hr {
  border: none;
  margin: 0.3rem auto 0;
}

hr::before {
  content: "* * *";
  color: var(--main-color);
  display: block;
  text-align: center;
}

blockquote {
  margin: 0.8rem 0 0.8rem 2rem;
  max-inline-size: 25rem;
  padding-inline-start: 1.2rem;
  border-inline-start: 0.15rem solid var(--main-color);
}

article {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.5rem;
  border: 0.1rem solid var(--main-color);
  border-radius: 0.2rem;
  > time {
    justify-self: end;
  }
  > a:has(> .preview) {
    grid-column: span 2 / span 2;
    max-inline-size: 10em;
  }
  > a,
  > .description {
    grid-column: span 2 / span 2;
    max-inline-size: fit-content;
  }
}

figure {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.25rem;
  border: 0.1rem solid var(--main-color);
  border-radius: 0.2rem;
  > img {
    border: 0.07rem solid var(--main-color);
  }
}

.favorite-media {
  /* figure element */
  flex-direction: row;
  gap: 1rem;
  > img {
    aspect-ratio: 2/3;
    block-size: 15.5rem;
  }
  > figcaption {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.image-annotation {
  /* figure element */
  all: unset;
  > figcaption {
    font-size: 0.75rem;
    font-style: italic;
  }
}

details {
  border: 0.1rem solid var(--main-color);
  border-radius: 0.2rem;
}

details > *:not(summary) {
  margin: 1rem;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  list-style: none;
  &:hover {
    cursor: pointer;
    background-color: var(--bg-extra-color);
  }
}

summary::after {
  /* Rotating triangle for <details> */
  content: "";
  transition: 0.3s;
  border-block-start: 0.4rem solid var(--main-color);
  border-inline: 0.25rem solid transparent;
}

details[open] > summary::after {
  transform: rotate(-180deg);
}

summary::-webkit-details-marker {
  display: none; /* End of segment */
}

/* <details> CSS-only animation, with presets for different sizes */
@media screen and (prefers-reduced-motion: no-preference) {
  details::details-content {
    max-block-size: 0;
    opacity: 0;
    transition:
      opacity 0.4s,
      max-block-size 0.15s linear,
      content-visibility 0.15s linear;
    transition-behavior: allow-discrete;
    overflow: hidden;
  }

  details[open]::details-content {
    opacity: 1;
    max-block-size: 15rem; /* max-block-size has to be hard-coded for the animation to work (unfortunately) */
  }

  .animation-medium::details-content {
    transition:
      opacity 0.4s,
      max-block-size 0.2s linear,
      content-visibility 0.2s linear;
    transition-behavior: allow-discrete;
  }

  .animation-medium[open]::details-content {
    max-block-size: 30rem;
  }

  .animation-long::details-content {
    transition:
      opacity 0.4s,
      max-block-size 0.25s linear,
      content-visibility 0.25s linear;
    transition-behavior: allow-discrete;
  }

  .animation-long[open]::details-content {
    max-block-size: 60rem;
  }

  .animation-extra-long::details-content {
    transition:
      opacity 0.4s,
      max-block-size 0.3s linear,
      content-visibility 0.3s linear;
    transition-behavior: allow-discrete;
  }

  .animation-extra-long[open]::details-content {
    max-block-size: 100rem;
  }
}
/* Ocasionally used text styles */

.text-colored {
  color: var(--colored-text);
}

.text-breakall {
  word-break: break-all;
}

.red {
  color: red;
}

.teal {
  color: #00b7ad;
}

/* CSS for 404 page */

.four-o-four {
  scrollbar-gutter: revert-layer;
  overflow-y: revert-layer;
  > div {
    display: grid;
    place-content: center;
    gap: 0.5rem;
    block-size: 100vh;
    text-align: center;
    > h1 {
      font-size: 4rem;
      line-height: 5rem;
    }
  }
}
