{{ define "main" }}

<p class="top-message"><strong>Site version 3.0.0 is live!</strong> Be sure to update any old backlinks!</p>
<p><i>{{ .Description }}</i></p>
<!-- Updates listing and sorting algorithm -->
{{- $allPosts := slice -}} {{- $allPosts = $allPosts | append (where
.Site.RegularPages "Section" "gallery") -}} {{- $allPosts = $allPosts | append
(where .Site.RegularPages "Section" "blog") -}} {{- $allPosts = $allPosts |
append (where .Site.RegularPages "Section" "log") -}} {{- $sortedPosts := sort
$allPosts "Date" "desc" | first 20 -}} {{- range $sortedPosts }}
<article>
  <!-- Title -->
  <h2>
    {{- if eq .Section "gallery" -}} New artwork {{- else if eq .Section
    "blog" -}} New blog post {{- else -}} Website update {{- end -}}
  </h2>

  <!-- Date -->
  <time datetime='{{ .Date.Format "2006-02-01" }}'>{{ .Date.Format "01/02/2006" }}</time>

  <!-- If it's an artwork it adds a picture -->
  {{- if eq .Section "gallery" -}}
  <a href="{{ .RelPermalink }}">
    <img class="preview" src="{{ .Params.preview | relURL }}" alt="{{ .Title }}" loading="lazy">
  </a>
  <!-- and a link to full -->
  <a href="{{ .RelPermalink }}">{{ .Title }}</a>

  <!-- if it's a blog -->
  {{- else if eq .Section "blog" -}}
  <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  <p class="description">{{ .Description }}</p>
  {{- else -}}
  <!-- this is for when I use basic plain text update format -->
  <p class="description">{{ .Content | plainify | htmlUnescape }}</p>
  {{- end -}}
</article>
{{ end }}

{{ end }}