{{ define "main" }}
<h1>{{ .Title }}</h1>
<p>
  The great links dump. Here you can find other interesting indie websites, as
  well as links to various resources that I personally find helpful. All
  external links open in the new browser window.
</p>
<ul class="menu">
  <li><a href="./my-other-projects.html">My other projects</a></li>
  <li>
    <a href="./website-friends.html">Website friends</a>
  </li>
  <li>
    <a href="./art-resources-links-dump.html">Art resources links dump</a>
  </li>
  <li>
    <a href="./coding-resources-links-dump.html">Coding resources links dump</a>
  </li>
  <li>
    <a href="./useful-software.html">Useful software</a>
  </li>
  <li><a href="./random.html">Random</a></li>
</ul>
{{ end }}
