/* 88x31 buttons showcase */

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  margin: 1rem 0;
}

.buttons > a {
  display: block;
  border: 0.1rem solid transparent;
}

.buttons > a:hover {
  border: 0.1rem solid hotpink;
}

.buttons > a:active {
  border: 0.1rem solid white;
}

.buttons img {
  display: block;
}

.buttons > img {
  border: 0.1rem solid transparent;
}
