/* CSS for blog posts */

.blog,
.blog > h2 {
  font-size: 1.1rem;
}

.blog > h1 {
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  text-align: start;
  max-inline-size: 100%;
  line-height: 1.6rem;
}
